<!DOCTYPE HTML>
<html lang="" >
    <head>
        <meta charset="UTF-8">
        <title>Introduction · HonKit</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="description" content="">
        <meta name="generator" content="HonKit 4.0.4">
        
        
        
    
    <link rel="stylesheet" href="gitbook/style.css">

    
            
                
                <link rel="stylesheet" href="gitbook/gitbook-plugin-katex-plus/katex.min.css">
                
            
                
                <link rel="stylesheet" href="gitbook/@honkit/honkit-plugin-highlight/website.css">
                
            
                
                <link rel="stylesheet" href="gitbook/gitbook-plugin-search/search.css">
                
            
                
                <link rel="stylesheet" href="gitbook/gitbook-plugin-fontsettings/website.css">
                
            
        

    

    
        
    
        
    
        <style>
            .project-grid {
                height: 100%;
                display: inline-grid;
                width: 100%;
                max-width: none;
                justify-content: space-around;
                justify-items: center;
                align-items: start;
                align-content: center;
                grid-template-columns: repeat(3, auto);
                gap: 30px;
            }
            .project-tile {
                font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
                overflow-y: auto;
                width: 300px;
                color: #364149;
                background: #fafafa;
                border-right: 1pxsolidrgba(0,0,0,.07);
                -webkit-transition: left 250ms ease;
                -moz-transition: left 250ms ease;
                -o-transition: left 250ms ease;
                transition: left 250ms ease;
            }   
            .project-tile ul.summary li span {
                display: block;
                padding: 10px 15px;
                border-bottom: none;
                color: #364149;
                background: 0 0;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                position: relative;
            }
            .project-tile ul.summary li a {
                display: block;
                padding: 10px 15px;
                border-bottom: none;
                color: #008cff;
                background: 0 0;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                position: relative;
            }
            .project-tile ul.summary {
                padding: 0;
                margin: 0;
                list-style: none;
            }
            .project-header {
                margin: 0;
                padding: 10px 15px;
            }
        </style>
    
        
    
        
    
        
    

        
    
    
    <meta name="HandheldFriendly" content="true"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="gitbook/images/apple-touch-icon-precomposed-152.png">
    <link rel="shortcut icon" href="gitbook/images/favicon.ico" type="image/x-icon">

    
    <link rel="next" href="chapter-1-overview/SUMMARY.html" />
    
    

    </head>
    <body>
        
<div class="book honkit-cloak">
    <div class="book-body">
        <div class="body-inner">                    
            <div class="book-header" role="navigation">
                <!-- Title -->
                <h1 style="opacity: unset;">
                    Our projects
                </h1>
            </div>
            <div class="page-wrapper" tabindex="-1" role="main">
                <div class="page-inner project-grid">
                    <!-- AUTOGENERATED PLEASE DO NOT EDIT: BEGIN -->
                    <!-- AUTOGENERATED PLEASE DO NOT EDIT: END -->
                </div>
            </div>
        </div>            
    </div>
</div>

        
    <noscript>
        <style>
            .honkit-cloak {
                display: block !important;
            }
        </style>
    </noscript>
    <script>
        // Restore sidebar state as critical path for prevent layout shift
        function __init__getSidebarState(defaultValue){
            var baseKey = "";
            var key = baseKey + ":sidebar";
            try {
                var value = localStorage[key];
                if (value === undefined) {
                    return defaultValue;
                }
                var parsed = JSON.parse(value);
                return parsed == null ? defaultValue : parsed;
            } catch (e) {
                return defaultValue;
            }
        }
        function __init__restoreLastSidebarState() {
            var isMobile = window.matchMedia("(max-width: 600px)").matches;
            if (isMobile) {
                // Init last state if not mobile
                return;
            }
            var sidebarState = __init__getSidebarState(true);
            var book = document.querySelector(".book");
            // Show sidebar if it enabled
            if (sidebarState && book) {
                book.classList.add("without-animation");
            }
        }

        try {
            __init__restoreLastSidebarState();
        } finally {
            var book = document.querySelector(".book");
            book.classList.remove("honkit-cloak");
        }
    </script>
    <script src="gitbook/gitbook.js"></script>
    <script src="gitbook/theme.js"></script>
    
        
        <script src="gitbook/gitbook-plugin-search/search-engine.js"></script>
        
    
        
        <script src="gitbook/gitbook-plugin-search/search.js"></script>
        
    
        
        <script src="gitbook/gitbook-plugin-lunr/lunr.min.js"></script>
        
    
        
        <script src="gitbook/gitbook-plugin-lunr/search-lunr.js"></script>
        
    
        
        <script src="gitbook/gitbook-plugin-fontsettings/fontsettings.js"></script>
        
    

    </body>
</html>
